{% extends 'base.html' %}
{% block title %}Registro · Calidad{% endblock %}
{% block content %}
<div class="card p-4 mx-auto" style="max-width: 520px;">
  <h1 class="h5 mb-3 text-center">Crear cuenta</h1>
  <form method="post" class="row g-3">
    {% csrf_token %}
    {% for field in form %}
      <div class="col-12">
        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field.as_widget(attrs={'class':'form-control'}) }}
        {% if field.help_text %}<div class="form-text">{{ field.help_text }}</div>{% endif %}
        {% if field.errors %}<div class="text-danger small">{{ field.errors }}</div>{% endif %}
      </div>
    {% endfor %}
    <div class="col-12 d-grid">
      <button class="btn btn-primary">Crear cuenta</button>
    </div>
  </form>
</div>
{% endblock %}
